*{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: #c7a9f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
}
.texto img{
    display: block;
    width: 100%;
    align-items: center;
}
.texto a{
  width: 90%;
  display: block;
  padding-top: 6%;
}

.arriba{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.textoArriba{
    position: relative;
    padding-top: 18%;
    width: 75%;
}
.fecha{
    margin-top: 5%;
    width: 100%;
}

img[src*="invito"] {
    margin-top: 15%;
}
img[src*="direccion 2"] {
    margin-top: -5% ;
}
img[src*="fotos 1"] {
    margin-top: 5%;
}
img[src*="fotos 2"] {
    margin-top: -4%;
}
img[src*="fotos 3"] {
    margin-top: 6%;
    width: 45%;
}
img[src*="andy"] {
    width: 30%;
    margin-bottom: -5%;
}
img[src*="flores 1"] {
    width: 40%;
}
img[src*="flores fin"] {
    position: relative;
}

#countdown-container {
    text-align: center;
    margin: 40px 0 0 0;
    color: white;
    font-family: "Times New Roman", serif;
    position: relative;
}
.titulo {
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #4a1f5c;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}
#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: -5%;
}
.bloque {
    text-align: center;
}
.bloque span {
    font-size: 70px;
    display: block;
}
.bloque p {
    font-size: 15px;
    margin: 0;
    letter-spacing: 1px;
}
.separador {
    font-size: 40px;
    margin: 0 5px;
}